.header {
    min-width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #ECECEC;
    padding: 20px;
    

    a {
        margin: 20px;
        text-decoration: none;
    }

    span {
        margin: 10px;
    }

    .active{
        font-weight: 800;
    }

    
}