@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    box-sizing: border-box;

}

.container {
    max-width: 1320px;
    margin: auto;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.display {
    min-height: 100vh;
    display: flex;
    max-width: 100%;
    padding: 30px;
    justify-content: center;




}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.loader {

    width: 200px;
    height: 200px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}



.display-list {
    width: 20%;
    display: flex;
    flex-direction: column;

    h3 {
        margin-top: 50px;
    }

    li {
        margin-top: 5px;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
    }

    button {
        margin-top: 5px;
        cursor: pointer;
        border: none;
        background-color: #FFF;
        font-size: 17px;
        text-align: left;
    }

    .selected {
        font-weight: 800;
    }

}


.card-container {
    min-height: 100vh;
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;


    .no-data {
        text-align: center;
        font-size: 30px;

    }

}

.display-card {
    max-width: 500px;
    margin: 30px;
    position: relative;


    .img-container {
        max-width: 500px;
        width: 300px;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        height: 400px;
        // background-color: black;
    }


    img {
        width: 100%;
        transition: opacity 0.4s ease-in-out;
        background-size: cover;
        overflow: hidden;
        object-fit: cover;

    }

    .image-loaded {
        background-color: black;


    }

    .img-container:hover img {
        transition: opacity 0.4s ease-in-out;
        filter: brightness(40%);

    }


    .img-container:hover .cart-text{
        visibility: visible;
        color: white !important;
        z-index: 1000;
        filter: brightness(100%);


    }

    .cart-text {
        position: absolute;
        top: 190px;
        left: 100px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 700;
        color: white;
        visibility: hidden;


    }

    span {
        margin-right: 10px;
    }

    .display-text-1 {
        color: #4F4733;
        font-weight: 700;
        margin-bottom: 10px;

    }

    .display-text-2 {
        color: #4F4733;
        font-weight: 400;
        margin-bottom: 10px;

    }

    p {
        color: #5A112B;
        font-weight: 400;
        margin-top: 10px;
    }


}